body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: none;
  overflow-y: hidden;
}

aside,main,header,nav,section,footer {
  text-align:center;
}

header,footer {
  line-height:100px;
}

aside,main {
  line-height:600px;
  height: 1000px;
}

aside {
  float: left;
  width:300px;
  background-color:#cccccc;
  color:#000000;
}

header {
  height:100px;
  background-color:#666666;
}

nav {
  height:30px;
  line-height:30px;
  background-color:#333333;
}

section {
  height: 600px;
  background-color:#999999;
}

footer {
  height:100px;
  background-color:#666666;
}