  {{/* {{template "header" }}
  <select class="selectpicker applyDept" id="applyDept" data-actions-box="true" size="25" aria-label="size 25"  data-width="370px" data-live-search="true" multiple title="모집단위를 선택하세요" aria-label="모집단위를 선택하세요" data-selected-text-format="count > 3" > */}}
  {{range .}}
    <option value="{{.Apply_dept_id}}">{{.Apply_dept_id}}</option>
  {{end}} 
  {{/* </select> */}}
